<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325992268887-sjp8cb313daootuk0s9833qv4juevqeu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325992268887-sjp8cb313daootuk0s9833qv4juevqeu</string>
	<key>API_KEY</key>
	<string>AIzaSyBmjWrFEQKwxNiBWezZOcybQ7E7Xe_drTU</string>
	<key>GCM_SENDER_ID</key>
	<string>325992268887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appguyinc.pogoide</string>
	<key>PROJECT_ID</key>
	<string>blcd-notify</string>
	<key>STORAGE_BUCKET</key>
	<string>blcd-notify.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325992268887:ios:28643d43c1ccb91fa04f12</string>
	<key>DATABASE_URL</key>
	<string>https://blcd-notify.firebaseio.com</string>
</dict>
</plist>